body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem 10rem;
}

.display {
    grid-column: span 4;
    border: 1px solid black;
    height: 2rem;
}

.selected {
    background-color: yellowgreen;
}